html {
  margin: 0px;
  height: 100vh;
}

body {
  font-family: cursive;
  margin: 0px;
  height: 100%;
  /* min-height: 100%;
  width: 100%; */
  /* background-color: #301e54; */
}

.root {
  display: block;
  height: 100%;
}

.site-body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 66px auto 80px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.site-header {
  grid-area: header;
}

.site-main {
  grid-area: main;
}

.site-footer {
  grid-area: footer;
  background: #301e54;
}
