<div class="main_div">
  <div class="title">Add-Product</div>
  <p class="message-p">{{addedTrue}}</p>
  <form #addForm="ngForm" (ngSubmit)="addProduct(addForm.value)" action="#">
    <div class="input_box">
      <!-- <input
        list="categories"
        name="category"
        type="text"
        placeholder="Category"
        required
        ngModel
      /> -->
      <select id="category" name="category" required ngModel>
        <option value="Clothing">Clothing</option>
        <option value="Accessories">Accessories</option>
        <option value="Food">Food</option>
        <option value="Other">Other</option>
      </select>
      <div class="icon"><i class="fas fa-user"></i></div>
    </div>
    <div class="input_box">
      <input
        name="name"
        type="text"
        placeholder="Product Name"
        required
        ngModel
      />
      <div class="icon"><i class="fas fa-user"></i></div>
    </div>
    <div class="input_box">
      <input
        name="manufacturer"
        type="text"
        placeholder="Product Manufacturer"
        required
        ngModel
      />
      <div class="icon"><i class="fas fa-lock"></i></div>
    </div>
    <div class="input_box">
      <input
        name="price"
        type="text"
        placeholder="Product Price"
        required
        ngModel
      />
      <div class="icon"><i class="fas fa-lock"></i></div>
    </div>
    <div class="input_box">
      <input
        name="year"
        type="text"
        placeholder="Product Year"
        required
        ngModel
      />
      <div class="icon"><i class="fas fa-lock"></i></div>
    </div>
    <div class="input_box">
      <textarea
        name="description"
        type="text"
        placeholder="Product Description"
        required
        ngModel
      ></textarea>
      <div class="icon"><i class="fas fa-lock"></i></div>
    </div>
    <div class="input_box">
      <input
        name="imageUrl"
        type="text"
        placeholder="Product Image URL"
        required
        ngModel
      />
      <div class="icon"><i class="fas fa-lock"></i></div>
    </div>
    <div class="input_box button">
      <input type="submit" value="Add-Product" />
    </div>
  </form>
</div>
