<div class="main_div">
  <div class="title">Add-Product</div>
  <form action="#">
    <div class="input_box">
        <input name="Category" type="text" placeholder="Category" required ngModel />
        <div class="icon"><i class="fas fa-user"></i></div>
      </div>
    <div class="input_box">
      <input name="productName" type="text" placeholder="Product Name" required ngModel />
      <div class="icon"><i class="fas fa-user"></i></div>
    </div>
    <div class="input_box">
      <input name="manufacturer" type="text" placeholder="Manufacturer" required ngModel />
      <div class="icon"><i class="fas fa-lock"></i></div>
    </div>
    <div class="input_box">
      <input
        name="year"
        type="text"
        placeholder="Year"
        required
        ngModel
      />
      <div class="icon"><i class="fas fa-lock"></i></div>
    </div>
    <div class="input_box">
      <input
        name="Image"
        type="text"
        placeholder="Image URL"
        required
        ngModel
      />
      <div class="icon"><i class="fas fa-lock"></i></div>
    </div>
    <div class="input_box button">
      <input type="submit" value="Add-Product" />
    </div>
  </form>
</div>
