<h1>Shopping Cart</h1>
<div *ngIf="cartItems" class="cart-container">
  <div *ngFor="let product of cartItems" class="cart-item">
    <div class="item-info">
      <img class="item-image" src="{{ product.imageUrl }}" alt="" />
      <span class="item-name">{{ product.name }}</span>
      <span class="item-quantity">{{ product.quantity }}</span>
    </div>
    <div class="item-price">
      ${{ product.price }}
      <button class="remove-button" (click)="removeProduct(product)">X</button>
    </div>
  </div>
  <!-- Add more cart items here as needed -->
  <div class="shipping">Shipping: $4.99</div>
  <div class="total">Total: ${{ totalPrice }}</div>
  <form #orderForm="ngForm" (ngSubmit)="sentOrder(orderForm.value)" class="order-form">
    <input
      type="email"
      name="userEmail"
      class="form-input"
      placeholder="Email"
      #email="ngModel"
      ngModel
      required
    />
    <p class="input-error">
      <span *ngIf="email.invalid && email.touched">Please enter email !</span>
    </p>
    <input
      type="text"
      name="address"
      class="form-input"
      placeholder="Address"
      #address="ngModel"
      ngModel
      required
    />
    <p class="input-error">
      <span *ngIf="address.invalid && address.touched">Please enter address !</span>
    </p>
    <input
      type="tel"
      name="phoneNumber"
      class="form-input"
      placeholder="Phone Number"
      #phone="ngModel"
      ngModel
      required
    />
    <p class="input-error">
      <span *ngIf="phone.invalid && phone.touched">Please enter phone number !</span>
    </p>
    <p class="order-m" *ngIf="orderMessage">{{orderMessage}}</p>
    <p class="res-error" *ngIf="errorMessage">{{errorMessage}}</p>
    <button *ngIf="user" type="submit" class="order-button">Order</button>
    <a *ngIf="!user" routerLink="/login" class="order-button">Login</a>
  </form>
</div>
<div *ngIf="!cartItems" class="cart-container">
  <h1>Seem's like your cart is empty</h1>
</div>
