<header>
  <nav class="nav-bar">
    <div class="nav-logo">
      <a routerLink="home">J-Land</a>
    </div>
    <div class="nav-search">
      <input
        #searchInput
        (blur)="hideSearchSuggestion()"
        (keyup)="searchProduct($event)"
        type="text"
        placeholder="What are you looking for ?"
      />
      <button
        (click)="submitSearch(searchInput.value)"
        class="search-btn"
      ></button>
      <ul *ngIf="mathchingProducts" class="suggested-products">
        <li
          (mousedown)="populateSearch(products.name)"
          class="search-result-suggest"
          *ngFor="let products of mathchingProducts"
        >
          <a>
            {{ products.name }}
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-menu">
      <ul class="user-menu">
        <li class="user-buttons" class="dropdown">
          <button class="dropbtn">Acount</button>
          <div *ngIf="!isLoggedIn" class="dropdown-content">
            <a routerLink="/login">Sing in</a>
            <a routerLink="/register">Register</a>
          </div>
          <div *ngIf="isLoggedIn" class="dropdown-content">
            <a routerLink="/profile">Profile</a>
            <a *ngIf="isSeller" routerLink="/add-product">Add Product</a>
            <a *ngIf="isSeller" routerLink="/my-products">My Products</a>
            <a class="logout-btn" (click)="logout()">Logout</a>
          </div>
        </li>
        <li><a routerLink="/orders">Orders</a></li>
        <li>
          <a routerLink="/cart" class="cart" title="Cart">
            <img
              src="https://cdn-icons-png.flaticon.com/512/3225/3225209.png"
              alt="Cart"
          /></a>
        </li>
        <span>{{ cartItems }}</span>
      </ul>
    </div>
  </nav>
</header>
