<header>
  <nav class="nav-bar">
    <div class="nav-logo">
      <a routerLink="home">J-Land</a>
    </div>
    <div class="nav-search">
      <input type="text" placeholder="What are you looking for ?" />
      <button class="search-btn"></button>
    </div>
    <div class="nav-menu">
      <ul>
        <li class="dropdown">
          <button class="dropbtn">Acount</button>
          <div class="dropdown-content">
            <a routerLink="/login">Sing in</a>
            <a routerLink="/register">Register</a>
          </div>
        </li>
        <li><a href="#">Orders</a></li>
        <li>
          <a href="#" class="cart" title="Cart">
            <img
              src="https://cdn-icons-png.flaticon.com/512/3225/3225209.png"
              alt="Cart"
          /></a>
        </li>
        <span>0</span>
      </ul>
    </div>
  </nav>
</header>
