<div class="main_div">
  <div class="title">Welcome back</div>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" action="#">
    <div class="input_box">
      <input name="email" type="text" placeholder="Email" required ngModel>
      <div class="icon"><i class="fas fa-user"></i></div>
    </div>
    <div class="input_box">
      <input name="password" type="password" placeholder="Password" required ngModel>
      <div class="icon"><i class="fas fa-lock"></i></div>
    </div>
    <!-- <div class="option_div">
      <div class="check_box">
        <input type="checkbox">
        <span>Remember me</span>
      </div>
    </div> -->
    <div class="input_box button">
      <input type="submit" value="Login">
    </div>
    <div class="sign_up">
      Not a member? <a routerLink="../register">Signup now</a>
    </div>
  </form>
</div>