<div class="product-details" *ngIf="productData">
  <img src="{{ productData.imageUrl }}" alt="Product Image" />
  <div class="product-info">
    <h2>{{ productData.name }}</h2>
    <h2>Description</h2>
    <p>
      {{ productData.description }}
    </p>
    <h2>Price</h2>
    <p>${{ productData.price }}</p>
    <h2>Brand</h2>
    <p>{{ productData.manufacturer }}</p>
    <h2>Category</h2>
    <p>{{ productData.category }}</p>
    <div class="quantity">
      <button (click)="handleQtyClick('minus')" class="minus-btn">-</button>
      <input disabled type="number" min="1" value="{{productQuantity}}" />
      <button (click)="handleQtyClick('plus')" class="plus-btn">+</button>
    </div>
    <div class="action-btns">
      <button class="add-to-cart" (click)="addToCart()">Add to Cart</button>
      <button class="buy">Buy</button>
    </div>
  </div>
</div>
