<div class="container d-flex justify-content-center">
  <div *ngFor="let product of products" class="card card-product-grid card-lg">
    <div class="img-wrap" data-abc="true">
      <img src="{{ product.imageUrl }}" />
    </div>
    <div class="info-wrap">
      <div class="row">
        <div class="col-md-9 col-xs-9">
          <div class="title" data-abc="true">Name: {{ product.name }}</div>
          <span class="rated">Category: {{ product.category }}</span>
        </div>
      </div>
    </div>
    <div class="bottom-wrap-payment">
      <figcaption class="info-wrap">
        <div class="row">
          <div class="col-md-9 col-xs-9">
            <div class="title" data-abc="true">Price: ${{ product.price }}</div>
          </div>
        </div>
      </figcaption>
    </div>
    <div class="bottom-wrap">
      <a
        [routerLink]="['/my-products', product._id, 'edit']"
        class="btn-edit"
        data-abc="true"
      >
        Edit
      </a>
      <a
        href="javascript:void(0)"
        (click)="deleteProductBtn(product._id)"
        class="btn-delete"
        data-abc="true"
      >
        Delete
      </a>
    </div>
  </div>
</div>
