<div class="container d-flex justify-content-center">
  <div *ngFor="let product of products" class="card card-product-grid card-lg">
    <div class="img-wrap" data-abc="true">
      <img src="{{ product.imageUrl }}" />
    </div>
    <div class="info-wrap">
      <div class="row">
        <div class="col-md-9 col-xs-9">
          <div class="title" data-abc="true">Name: {{ product.name }}</div>
          <div class="title" data-abc="true">Year: {{ product.year }}</div>
          <div class="title" data-abc="true">Category: {{ product.category }}</div>
          <span class="rated">Description: {{ product.description }}</span>
        </div>
      </div>
    </div>
    <div class="bottom-wrap-payment">
      <figcaption class="info-wrap">
        <div class="row">
          <div class="col-md-9 col-xs-9">
            <div class="title" data-abc="true">Price: ${{ product.price }}</div>
          </div>
        </div>
      </figcaption>
    </div>
    <div class="bottom-wrap">
      <a href="#" class="btn-edit" data-abc="true">
        Edit
      </a>
      <a href="#" class="btn-delete" data-abc="true"> Delete </a>
    </div>
  </div>
</div>
