<div class="carousel-wrapper">
  <c-carousel
    class="outter-carousel"
    [dark]="true"
    [wrap]="false"
    *ngIf="products"
  >
    <c-carousel-inner>
      <c-carousel-item class="c-carousel-item" *ngFor="let product of products">
        <div class="image-wrapper">
          <img
            [src]="product.imageUrl"
            alt=""
            class="d-block w-100"
            loading="lazy"
          />
        </div>
        <div class="description-wrapper">
          <c-carousel-caption class="d-none d-md-block">
            <h3>{{ product.name }}</h3>
            <p>{{ product.manufacturer }}</p>
          </c-carousel-caption>
        </div>
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control
      class="c-carousel-control-prev"
      [routerLink]
      caption="Previous"
      direction="prev"
    ></c-carousel-control>
    <c-carousel-control
      class="c-carousel-control-next"
      [routerLink]
      caption="Next"
      direction="next"
    ></c-carousel-control>
  </c-carousel>
</div>
