<div class="carousel-wrapper">
  <h6 class="carousel-title">New Arrivals</h6>
  <c-carousel
    class="outter-carousel"
    [dark]="true"
    [wrap]="false"
    *ngIf="products"
  >
    <c-carousel-inner>
      <c-carousel-item class="c-carousel-item" *ngFor="let product of products">
        <div class="image-wrapper">
          <a class="product-img-a"
            ><img
              routerLink="/details/{{product._id}}"
              [src]="product.imageUrl"
              alt=""
              class="d-block w-100"
              loading="lazy"
          /></a>
        </div>
        <div class="description-wrapper">
          <c-carousel-caption class="d-none d-md-block">
            <h3>{{ product.name }}</h3>
            <p>{{ product.manufacturer }}</p>
          </c-carousel-caption>
        </div>
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control
      class="c-carousel-control-prev"
      [routerLink]
      caption="Previous"
      direction="prev"
    ></c-carousel-control>
    <c-carousel-control
      class="c-carousel-control-next"
      [routerLink]
      caption="Next"
      direction="next"
    ></c-carousel-control>
  </c-carousel>
  <h6 class="card-title">All Products</h6>
  <div class="product-container">
    <div
      *ngFor="let product of allProducts"
      class="card card-product-grid card-lg"
    >
      <div class="img-wrap" data-abc="true">
        <img src="{{ product.imageUrl }}" />
      </div>
      <div class="info-wrap">
        <div class="row">
          <div class="col-md-9 col-xs-9">
            <div class="title" data-abc="true">Name: {{ product.name }}</div>
            <span class="rated">Category: {{ product.category }}</span>
          </div>
        </div>
      </div>
      <div class="bottom-wrap-payment">
        <figcaption class="info-wrap">
          <div class="row">
            <div class="col-md-9 col-xs-9">
              <div class="title" data-abc="true">
                Price: ${{ product.price }}
              </div>
            </div>
          </div>
        </figcaption>
      </div>
      <div class="bottom-wrap">
        <a
          routerLink="/details/{{ product._id }}"
          class="btn-edit"
          data-abc="true"
        >
          Details
        </a>
        <a href="javascript:void(0)" (click)="addToCart(product)" class="btn-delete" data-abc="true">
          Add to Cart
        </a>
      </div>
    </div>
  </div>
</div>
