@import "@coreui/coreui/dist/css/coreui.min.css";

.carousel-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.outter-carousel {
  width: 400px;
}

.d-block {
  width: 400px;
  height: 400px;
}

.c-carousel-control-prev {
  left: -90px;
  color: black !important;
}

.c-carousel-control-next {
  right: -90px;
  color: black !important;
}

.description-wrapper .d-none {
  margin-top: 50px;
  position: relative;
  margin-right: 120px;
}
